html, body {
  margin: 0;
  padding: 0;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-image: url(images/CoverPhoto.JPG);
  background-repeat: no-repeat;
  background-position: top;
}

/*Navigation Bar*/

nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  padding-top: 15px;
  z-index: 999;
  transition: .5s all ease;
  hidden: true;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  color: white;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

nav a {
  transition: .5s all ease;
}

nav a:link, nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: grey;
  text-decoration: none;
}

/*Active Navigation Bar*/

nav.active {
  /*background: transparent;*/
  background-color: rgba(0, 0, 0, 0.6);
}

nav a.active {
  color: white;
}

nav a.active:link, a.active:visited {
  color: white;
  text-decoration: none;
}

nav a.active:hover {
  color: white;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

/*Home Div*/

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

#Home {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  background: linear-gradient(to bottom, grey, white);
  display: table;
}

.theOutside {
  display: table-cell;
  vertical-align: middle;
}

.theInside {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wordsCS {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

/*Coding icon*/

#circle {
  margin-top: 40px;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border-radius: 250px;
  border: solid 3px black;
  width: 200px;
  height: 200px;
}

.fa-code {
  margin-top: 30px;
  font-size: 130px;
  color: black;
}

/*Benefits Div*/

#Benefits {
  height: 600px;
  margin-top: 0px;
  padding: 90px 0px 0px 0px;
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

#Benefits h3 {
  margin-top: 0px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.contentBenefits {
  color: white;
}

#Benefits .container-fluid {
  width: 100%;
  padding-top: 60px;
}

#Benefits .benefit {
  padding: 10px 35px 10px 35px;
  color: white;
  font-size: 25px;
}

/*Financial Div*/

#Financial {
  height: 600px;
  margin-top: 0px;
  padding: 70px 50px 30px 50px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
  color: white;
}

.contentFinancial {
  height: 460px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  text-align: center;
}

#Financial .container-fluid {
  width: 100%;
  padding-top: 0px;
}

.fa-usd {
  color: rgb(246, 130, 130);
}

#Financial h4 {
  color: rgb(246, 130, 130);
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.col-md-6 {
  height: 395px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.financial1, .financial2 {
  padding: 60px 40px 10px 40px;
  color: black;
  font-size: 23px;
  text-align: justify;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 700px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom right, white, #F8F8F8) !important;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
}

.financial1.active {
  visibility: visible;
  opacity: 1;
}

.financial2.active {
  visibility: visible;
  opacity: 1;
}

.open {
  display: inline-block;
  background: linear-gradient(to bottom, rgb(246, 130, 130), rgb(173, 139, 217));
  border: none;
  color: white;
  height: 250px;
  width: 250px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  border-radius: 50%;
}

.open:hover {
  border: 1px solid rgb(246, 130, 130);
  color: rgb(246, 130, 130);
  background: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .5s ease;
  z-index: -1;
}

.overlay.active {
  opacity: 1;
  z-index: 2;
}

button.close {
  display: inline-block;
  background: linear-gradient(to bottom, rgb(246, 130, 130), rgb(173, 139, 217));
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 45px;
  margin: .25rem 0;
  vertical-align: middle;
  line-height: 1;
  overflow: visible;
  white-space: nowrap;
  margin: 0 0 1rem;
  opacity: 1;
}

button.close:hover {
  border: 1px solid rgb(246, 130, 130);
  color: rgb(246, 130, 130);
  background: transparent;
  opacity: 1;
}

/*Portfolio Div*/

#Portfolio {
  height: 600px;
  margin-top: 0px;
  padding: 70px 90px 0px 90px;
  background: linear-gradient(to bottom, rgb(230, 218, 245), white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

/*Styles for each h3*/

h3 {
  margin: 0;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.contentPortfolio {
  padding: 50px 30px 0px 30px;
}

.portfolio {
  margin: 0;
  padding: 5px 5px 5px 5px;
  background: rgb(180, 180, 180);
  color: rgb(189, 189, 189);
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.transition:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}






/*Interest Div*/

#Interest {
  height: 600px;
  margin-top: 0px;
  padding: 70px 50px 30px 50px;
  /*background-color: rgb(230, 218, 245);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

.fa-lightbulb-o {
  color: yellow;
}

/*Contact Div*/

#Contact {
  height: 600px;
  margin-top: 0px;
  padding: 80px 50px 0px 50px;
  /*background-color: rgb(255, 255, 255);*/
  background: linear-gradient(to bottom, white, grey);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

form {
  padding-top: 10px;
}

form label {
  font-size: 20px;
}

.social .fa {
  font-size: 35px;
  color: black;
  margin: 15px 10px 0px 10px;
  transition: .4s all ease;
}

.social .fa:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
}

/*Footer Div*/

#footer {
  background: black;
  width: 100%;
  height: 70px;
  padding-top: 25px;
  text-align: center;
  color: white;
}
