html, body {
  margin: 0;
  padding: 0;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/*Navigation Bar*/

nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  padding-top: 15px;
  z-index:999;
  transition: .5s all ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

nav a {
  transition: .5s all ease;
}

nav a:link, nav a:visited {
  color: white;

}

nav a:hover {
  color: grey;
  text-decoration: none;
}

/*Active Navigation Bar*/

nav.active {
  background: transparent;
}

nav a.active {
  color: black;
}

nav a.active:link, a.active:visited {
  color: black;
  text-decoration: none;
}

nav a.active:hover {
  text-shadow: 0px 0px 1px #111;
}

/*Home Div*/

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

#Home {
  width: 100%;
  height:100vh;
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  background: linear-gradient(to bottom, grey, white);
  display: table;
}

.theOutside {
  display: table-cell;
  vertical-align: middle;
}

.theInside {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wordsCS {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}


/*Drawing icon*/

#circle {
  margin-top: 40px;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border-radius: 250px;
  border: solid 3px black;
  width: 200px;
  height: 200px;
}

.fa-code {
  margin-top: 30px;
  font-size: 130px;
  color: black;
}

/*Benefits Div*/

#Benefits {
  height: 600px;
  margin-top: 0px;
  padding: 50px;
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

#Benefits h3 {
  margin-top: 0px;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.contentBenefits {
  color: white;
}

/*Financial Div*/

#Financial {
  height: 600px;
  margin-top: 0px;
  padding: 50px;
  /*background-color: rgb(255, 255, 255);*/
  background: linear-gradient(to bottom, rgb(245, 218, 218), white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

#Financial h3 {
  margin-top: 0px;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

/*Interest Div*/

#Interest {
  height: 600px;
  margin-top: 0px;
  padding: 50px;
  /*background-color: rgb(230, 218, 245);*/
  background: linear-gradient(to bottom, rgb(230, 218, 245), white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

#Interest h3 {
  margin-top: 0px;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

/*Contact Div*/

#Contact {
  height: 600px;
  margin-top: 0px;
  padding: 50px;
  /*background-color: rgb(255, 255, 255);*/
  background: linear-gradient(to bottom, white, grey);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: auto;
}

#Contact h3 {
  margin-top: 0px;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.social .fa{
  font-size: 30px;
  color: black;
  margin: 10px 10px 0px 10px;
  transition: .4s all ease;
}

.social .fa:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
}

/*Footer Div*/

#footer {
  background: black;
  width:100%;
  height:70px;
  padding-top: 25px;
  text-align: center;
  color: white;
}
